<li>
  <img src="/images/avatar_javier.jpg" alt="" />
  <div>
    <b>Javier Peña</b>
    <p> Ingeniero Informático y fundador de <a href="http://www.iniciativalegislativapopular.es">Iniciativalegislativapopular.es</a></p>
  </div>

  <hr />
</li>

<li>
  <img src="/images/avatar_javi.jpg" alt="" />
  <div>
    <b>Javier Fernández de Bobadilla</b>
    <p>Abogado y co-fundador de <a href="http://www.herzio.com">Herzio.com</a>.</p>
  </div>

  <hr />
</li>


<li>
  <img src="/images/avatar_julian.jpg" alt="" />
  <div>
    <b><%= link_to "Julián Valero", "http://www.um.es/dereadmv/julivale/" %></b>
    <p>
      Profesor de Derecho Administrativo en la Universidad de Murcia, especialista en las implicaciones jurídicas de las TICs en el sector público
    </p>
  </div>

  <hr />
</li>


<li>
  <img src="/images/avatar_nacho.jpg" alt="" />
  <div>
    <b>Nacho Alamillo</b>
    <p>
      Abogado experto en firma electrónica
    </p>
  </div>

  <hr />
</li>

<li>
  <img src="/images/avatar_prenafeta.jpg" alt="" />
  <div>
    <b><%= link_to "Javier Prenafeta", "http://www.jprenafeta.com" %></b>
    <p>Abogado especialista en Tecnologías de la Información y la Comunicación</p>
  </div>

  <hr />
</li>

<li>
  <img src="/images/avatar_francesc.jpg" alt="" />
  <div>
    <b>Francesc López</b>
    <p>Economista en construcción</p>
  </div>

  <hr />
</li>

<li>
  <img src="/images/avatar_isabel.jpg" alt="" />
  <div>
    <b>Isabel Luque</b>
    <p>Consultora de comunicación y relaciones públicas. Responsable Madrid de agencia <%= link_to "Commo", "http://www.commo.es"%></p>
  </div>

  <hr />
</li>

<li>
  <img src="/images/avatar_tu.jpg" alt="" />
  <div>
    <b>Tú mismo/a</b>
    <p>Creando las leyes que te mereces.</p>
  </div>

  <hr />
</li>