<li>
  <img src="/images/avatar_javi.jpg" alt="" />
  <div>
    <b>Javier Fernández de Bobadilla</b>
    <p>Abogado y co-fundador de <a href="http://www.herzio.com">Herzio.com</a>.</p>
  </div>

  <hr />
</li>

<li>
  <img src="/images/avatar_sergio.jpg" alt="" />
  <div>
    <b><%= link_to "Sergio Espeja", "http://www.sergioespeja.com" %></b>
    <p>
      Ingeniero informático, desarrollador web, fundador de
      <a href="http://www.verycocinar.com">Verycocinar.com</a> y director técnico de <a href="http://www.herzio.com">Herzio.com</a>.
    </p>
  </div>

  <hr />
</li>

<li>
  <img src="/images/avatar_jaime.jpg" alt="" />
  <div>
    <b><%= link_to "Jaime de Ascanio", "http://www.jaimeascanio.com" %></b>
    <p>Diseñador digital, front-end developer y fundador de Mspremade.com.</p>
  </div>

  <hr />
</li>

<li>
  <img src="/images/avatar_zafra.jpg" alt="" />
  <div>
    <b><%= link_to "David Zafra", "http://www.davidzafra.com" %></b>
    <p>
      Diseñador digital y co-fundador de <a href="http://www.herzio.com">Herzio.com</a>.
    </p>
  </div>

  <hr />
</li>

<li>
  <img src="/images/avatar_juan.jpg" alt="" />
  <div>
    <b>Juan Urdiales</b>
    <p>Abogado, economista y co-fundador de <a href="http://www.Jobandtalent.com">Jobandtalent.com</a></p>
  </div>

  <hr />
</li>

<li>
  <img src="/images/avatar_felipe.jpg" alt="" />
  <div>
    <b>Felipe Navío</b>
    <p>Economista y co-fundador de <a href="http://www.Jobandtalent.com">Jobandtalent.com</a></p>
  </div>

  <hr />
</li>

<li>
  <img src="/images/avatar_tu.jpg" alt="" />
  <div>
    <b>Tú mismo/a</b>
    <p>Creando las leyes que te mereces.</p>
  </div>

  <hr />
</li>