<li>
  <img src="/images/avatar.jpg" alt="" />
  <div>
  <b>Ramón Gonzalez</b>
  <a href="#">www.ramongonzalez.com</a>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac nisi eu enim ultricies hendrerit vitae tristique risus. </p>
  </div>
  
  <hr />
</li>