<li>
  <img src="/images/avatar_javi.jpg" alt="" />
  <div>
    <b>Javier Fernández de Bobadilla</b>
    <p>Abogado y co-fundador de 'Herzio.com'. </p>
  </div>

  <hr />
</li>

<li>
  <img src="/images/avatar_zafra.jpg" alt="" />
  <div>
    <b>David Zafra</b>
    <p>Diseñador digital y co-fundador de 'Herzio.com'</p>
  </div>

  <hr />
</li>

<li>
  <img src="/images/avatar_jaime.jpg" alt="" />
  <div>
    <b>Jaime de Ascanio</b>
    <p>Diseñador digital, front-end developer y fundador de 'Mspremade.com' </p>
  </div>

  <hr />
</li>

<li>
  <img src="/images/avatar_sergio.jpg" alt="" />
  <div>
    <b>Sergio Espeja</b>
    <p>Ingeniero, desarrollador y fundador de 'Verycocinar.com'</p>
  </div>

  <hr />
</li>

<li>
  <img src="/images/avatar_juan.jpg" alt="" />
  <div>
    <b>Juan Urdiales</b>
    <p>Abogado, economista y co-fundador de 'Jobandtalent.com'</p>
  </div>

  <hr />
</li>

<li>
  <img src="/images/avatar_felipe.jpg" alt="" />
  <div>
    <b>Felipe Navío</b>
    <p>Economista y co-fundador de 'Jobandtalent.com'</p>
  </div>

  <hr />
</li>

<li>
  <img src="/images/avatar_tu.jpg" alt="" />
  <div>
    <b>Tú mismo/a</b>
    <p>Creando las leyes que te mereces.</p>
  </div>

  <hr />
</li>