<li>
  <img src="/images/ico-write-white.png" alt="" />
  <div class="proposal-example-content">
  <b>Ejemplo de buena propuesta</b>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac nisi eu enim ultricies hendrerit vitae tristique risus. </p>
  </div>
  
  <hr />
</li>