<% content_for :bodyclass do %>about-us <% end %> 
<% content_for :title, "Sobre nosotros"%>

<div class="page">

    <div class="page-content2">
    
    <h1> ¿Quiénes somos?</h1>
    		
    <p class="quote">"Después de haberse ocupado así de cada miembro de la comunidad con su poder y moldearlo a su antojo, el despotismo extiende su brazo sobre toda la comunidad. Cubre toda la superficie de la sociedad con una red de pequeñas reglas complicadas, minuciosas y uniformes, a través de las cuales las mentes más originales y los caracteres más enérgicos no pueden penetrar para destacar de la masa. La voluntad del hombre no se destroza, sino que se suaviza, se tuerce y se guía; pocas veces les obliga a actuar, pero constantemente se ven limitados en su actuación. Un poder así no destruye, pero impide existir, no tiraniza, pero comprime, enerva, extingue y atonta a un pueblo hasta que cada nación se reduce a nada más que un rebaño de animales tímidos e industriosos, del que el gobierno es pastor."</p>
    
    
    <p class="small_quote">Democracy In America, Alexis de Tocqueville (1835)</p>
		    
    <ul class="members">    
      <%= render :partial => 'member' %>    
    </div>

      <div class="page-sidebar2 sec_sidebar">

        <%= render :partial => 'shared/how_it_works' %>

      </div>
  
<div class="clear">&nbsp;</div>
</div>