<% content_for :bodyclass do %>about-us <% end %> 

<div class="page">

    <div class="page-content">
    
    <h1> ¿Quiénes somos?</h1>
    
    <p>Uno a uno, todos somos mortales. Juntos, somos eternos.</p>
		<p>Apuleyo</p>

		<p>Quizás no haya mayor esclavitud que el engaño de la libertad. Ni mayores dictadores que los que esclavizan nuestras mentes para desviarnos de la verdad. Ni mayor despostismo que la falsa democracia.</p>
		

		<p>'MiFirma' somos todos los que queremos cambiar las cosas, que creemos que es posible, y además estamos dispuestos a hacerlo.</p>
		

		<p>Nosotros sólo hemos puesto en la red la herramienta que hacía falta, y hemos liberado el código para que cualquiera en cualquier parte del mundo pueda hacer lo mismo.</p>
		

		<p>'Mifirma' eres tú cuando firmes una propuesta y luches por tener las leyes que te mereces. Cuando se cuentes a tus amigos, y ellos firmen para unirse a este clamor popular que habla de cambio y de justicia.</p>
		

		<p>Ahora te toca a tí.</p>
    
    
    <ul>
    
    <%= render :partial => 'member' %>

    
    </div>

      <div class="page-sidebar">

        <%= render :partial => 'shared/how_it_works' %>

      </div>
  
  <div class="clear">&nbsp;</div>
  </div>