<% content_for :bodyclass do %>como-funciona<% end %> 

<div class="page">

    <div class="page-content">
    
    <h1> ¿Cómo funciona?</h1>
    
    <div class="grey-frame"></div>
    
    <h2> Hacemos realidad nuestras propuestas </h2>
    
    <p>
		'MiFirma' promueve iniciativas legislativas populares usando la firma digital, para llevarlas de manera efectiva al Parlamento.</p>

	<h2>	Sobre las Iniciativas Legislativas Populares</h2>

		 <p>En el artículo 87.3 de la Constitución se contempla la posibilidad -regulada por la Ley Orgánica 3/1984-[1] de que los ciudadanos hagan propuestas respaldadas por un mínimo de 500.000 firmas, propuestas denominadas por ley ILPs (Iniciativas Legislativas Populares). Sin embargo, estas iniciativas, tienen una serie de limitaciones:</p>

		    <ul>  
					<li>No pueden reformar ley Orgánica alguna, ni regular materia propia de ley Orgánica, lo que excluye el Código Penal, los Estatutos de Autonomía, la Ley Electoral, la del Defensor del Pueblo, la del Tribunal Constitucional, la de Educación, la del Derecho de Reunión, la de Libertad Sindical, la de Libertad Religiosa, la de Partidos Políticos, etc </li>
		    <li>No pueden reformar ley tributaria alguna, lo que excluye la Ley General Tributaria, la Ley Reguladora de las Haciendas Locales, la Ley sobre el IRPF, la Ley del IVA, etc</li>
		    <li>No pueden reformar ley alguna de carácter internacional.</li>
		    <li>Partiendo de dichas iniciativas no puede elaborarse ley alguna referente a la prerrogativa de gracia, el indulto, que según el artículo 62.i de la Constitución corresponde al Rey, con arreglo a la Ley.</li>
		    <li>No pueden reformar ni el Consejo Económico y Social, ni los parámetros de redistribución de la riqueza, ni la armonización entre regiones, ni la planificación de la actividad económica; tampoco pueden proponerse los Presupuestos Generales del Estado ni enmiendas a éstos.</li>
		    <li>Además, según el artículo 166 de la Constitución, sólo puede reformarse la Constitución por los apartados 1 y 2 del artículo 87, por lo que la ILP queda excluida como vehículo para la reforma constitucional.</li>
		</ul> 


		 <h2>Número de firmas necesarias:</h2>
		<ul>
		<li>España. 500.000</li>
		<li>Andalucía. 75.000</li>
		<li>Aragón. 15.000</li>
		<li>Asturias. 10.000</li>
		<li>Baleares. 10.000</li>
		<li>Canarias. 15.000</li>
		<li>Cantabria. 10.000</li>
		<li>Castilla-La Mancha. 20.000</li>
		<li>Castilla y León. 25.000</li>
		<li>Cataluña. 50.000</li>
		<li>Comunidad Valenciana. 50.000</li>
		<li>Extremadura. El 5% del censo</li>
		<li>Galicia. 15.000</li>
		<li>La Rioja. 6.000</li>
		<li>Madrid. 50.000</li>
		<li>Murcia. 10.000</li>
		<li>Navarra. 7.000</li>
		<li>País Vasco. 30.000</li>
			
			</ul>

		 <h2>Sobre la firma electrónica</h2>

		 <p><strong>En España la Ley 59/2003 de 19 de diciembre de Firma Electrónica, establece que la “firma electrónica cualificada o reconocida” </strong>tiene la misma eficacia que la firma manuscrita.
		 <h2><p>¿Qué necesito para realizar una “firma con certificado electrónico”?</p></h2>
	
		   <p> <strong>1. Un certificado electrónico aceptado. </strong> Puedes consultar la lista de certificados electrónicos soportados para firmar en Tractis. En España te recomendamos utilizar el nuevo DNI electrónico. Si aún no dispones de DNIe, puedes conseguir uno solicitando cita previa y pagando 10€ por renovación anticipada.</p>
		    <p><strong>2. Un lector de tarjetas inteligentes, </strong> solo en caso de que utilices un certificado electrónico que venga dentro de una tarjeta inteligente (como es el caso del DNIe). En España te recomendamos apuntarte a nuestra promoción para conseguir un lector gratis, aunque también puedes comprar un lector en la FNAC, El Corte Inglés, Hipercor/Telecor, Media Markt y muchos otros sitios más.</p>
		    <p><strong>3. Tener Java instalado en tu ordenador. </strong> Puedes instalar Java fácilmente (versión 1.6 para Windows o versión 1.5 para Linux/Mac).</p>
		
			 <h2>Más información</h2>
		
		<ul>
		   <li><a href="https://www.tractis.com/help/?cat=106&language=es">Validez legal de la firma electrónica</a></li>
		   <li><a href=" https://www.tractis.com/dnie">Preguntas relacionadas con el DNIe</a></li>
		   <li><a href="https://www.tractis.com/help/?cat=102&language=es">Preguntas sobre como firmar en Tractis</a></li>
		</ul>

</p>
    
    

    
    </div>

      <div class="page-sidebar">

        <%= render :partial => 'shared/how_it_works' %>

      </div>
  
  <div class="clear">&nbsp;</div>
  </div>