<% content_for :bodyclass do %>como-funciona<% end %> 

<div class="page">

    <div class="page-content">
    
    <h1> ¿Cómo funciona?</h1>
            
    <ul>   
      <li>
        <a href="#about_mi_firma">Sobre MiFirma.com</a>
        <ul>
          <li><a href="#about_mi_firma">¿Qué es MiFirma.com?</a></li>
          <li><a href="#about_mi_firma_1">Por qué podemos hacer realidad nuestras propuestas</a></li>
        </ul>
      </li>

      <li>
        <a href="#about_iniciativa">Sobre Iniciativa Legislativa Popular</a>
        <ul>
          <li><a href="#about_iniciativa">Qué es una Iniciativa Legislativa Popular</a></li>
          <li><a href="#about_iniciativa_2">Iniciativas a nivel estatal y autonómico</a></li>
          <li><a href="#about_iniciativa_3">La puesta en marcha de una ILP</a></li>
          <li><a href="#about_iniciativa_4">La recogida de firmas.</a></li>
          <li><a href="#about_iniciativa_5">El inicio de la tramitación parlamentaria.</a></li>
        </ul>
      </li>

      <li>
        <a href="#about_electronia">Sobre Firma Electrónica</a>
        <ul>
          <li><a href="#about_electronia">La firma electrónica</a></li>
          <li><a href="#about_electronia_2">¿Qué necesito para realizar una “firma con certificado electrónico”?</a></li>
          <li><a href="#about_electronia_3">Más información</a></li>
        </ul>
      </li>
      
    </ul>


    <h2><a name="about_mi_firma">Sobre MiFirma.com</a></h2>

    <h3>¿Qué es MiFirma.com?</h3>

    <p>Es una plataforma para desarrollar Iniciativas Legislativas Populares (ILP) a través de firma digital, cumpliendo todos los requisitos especificados en la vigente normativa de aplicación, para poder llevarlas de manera efectiva al Parlamento, y poder crear las leyes que los ciudadanos creemos justas y necesarias.</p>
    <a name="about_mi_firma_1"></a>
    <h3>Por qué podemos hacer realidad nuestras propuestas</h3>

    <p>Hay numerosos proyectos de recogidas de firmas que no siguen el procedimiento legal para crear verdaderas Iniciativas Legislativas Populares, que sirven para hacer ruido en los medios, pero no que llegar a tener un verdadero efecto a nivel político y parlamentario.</p>

    <p>Queremos cambiar eso. Queremos una democracia más directa, y que la sociedad civil pueda intervenir en el desarrollo de su propio destino. Queremos crear las leyes que nos merecemos.</p>

    <p>Para ellos en MiFirma.com nuestras propuestas siguen el procedimiento derivado de la legislación en vigor para llevar a cabo Iniciativas Legislativas Populares que sean aptas para llegar de manera efectiva al Parlamento.</p>

    <h2><a name="about_iniciativa">Sobre Iniciativa Legislativa Popular</a></h2>

    <h3><strong>Qué es una Iniciativa Legislativa Popular</strong></h3>

    <p>Es la propuesta de una nueva ley, o la reforma de una existente, que se presenta directamente en el Parlamento, ya sea nacional o autonómico, por un grupo de ciudadanos.</p>

       <p>Viene contemplado en el artículo 87.3 de la <a href="http://noticias.juridicas.com/base_datos/Admin/constitucion.t3.html#a87">Constitución</a>.</p>

       <p>Una Ley orgánica regulará las formas de ejercicio y requisitos de la iniciativa popular para la presentación de proposiciones de Ley. En todo caso se exigirán no menos de 500.000 firmas acreditadas. No procederá dicha iniciativa en materias propias de Ley orgánica, tributarias o de carácter internacional, ni en lo relativo a la prerrogativa de gracia.</p>

       <p>Dicho precepto constitucional se encuentra regulado por <a href="http://noticias.juridicas.com/base_datos/Admin/lo3-1984.html)%C2%A0deque">la Ley Orgánica 3/1984</a>, de tal manera que los ciudadanos puedan hacer propuestas, a nivel estatal, respaldadas por un mínimo de 500.000 firmas, propuestas denominadas por ley: ILPs (Iniciativas Legislativas Populares). </p>
       <a name="about_iniciativa_2"></a>
       <h3>Iniciativas a nivel estatal y autonómico</h3>

       <p>El procedimiento que sigue la Iniciativa Legislativa Popular, si bien se mantiene igual en lo fundamental, puede variar dependiendo de si se hace a nivel nacional o autonómico. En la práctica, estas modificaciones se limitan al número de firmas que tienen que respaldar la propuesta, que son proporcionales al volumen de habitantes de cada Autonomía, mientras que el procedimiento que hay que seguir suele ser el mismo, solo que se articula a través de los órganos de gobierno autonómicos.</p>

    <p>Número necesario de firmas a nivel autonómico:</p>

    <ul>    
      <li>Andalucía. 75.000</li>
      <li>Aragón. 15.000</li>
      <li>Asturias. 10.000</li>
      <li>Baleares. 10.000</li>
      <li>Canarias. 15.000</li>
      <li>Cantabria. 10.000</li>
      <li>Castilla-La Mancha. 20.000</li>
      <li>Castilla y León. 25.000</li>
      <li>Cataluña. 50.000</li>
      <li>Comunidad Valenciana. 50.000</li>
      <li>Extremadura. El 5% del censo</li>
      <li>Galicia. 15.000</li>
      <li>La Rioja. 6.000</li>
      <li>Madrid. 50.000</li>
      <li>Murcia. 10.000</li>
      <li>Navarra. 7.000</li>
      <li>País Vasco. 30.000</li>
    </ul>
    <a name="about_iniciativa_3"></a>
    <h3>La puesta en marcha de una ILP</h3>

        <p>El primer paso a seguir para promover una ley es constituir una Comisión Promotora, que será el grupo de personas que se involucrará en este proceso. Los requisitos para formar parte de esta comisión son ser mayor de edad y estar inscrito en un censo electoral. Esta delegación deberá presentar ante la Mesa del Congreso de los Diputados un texto articulado de la proposición de Ley precedido de una exposición de motivos, que lo estudiará y se pronunciará al respecto en un plazo máximo de 15 días. Si da el visto bueno, el siguiente paso será el de dotar a la propuesta de Ley de respaldo popular, es decir, iniciar la recogida de firmas.</p>

        <p>Ciertas materias quedan excluidas de la Iniciativa Legislativa Popular.</p>

        <p>La Mesa de la Cámara puede negar una propuesta popular de Ley si ésta aborda una de las siguientes materias:</p>

        <p>-Las que, según la Constitución, son propias y exclusivas de las leyes Orgánicas.</p>
        <p>-Las de naturaleza tributaria.</p>
        <p>-Las de carácter internacional.</p>
        <p>-Las referentes a la prerrogativa de gracias.</p>
        <p>-Las mencionadas en los artículos <a href="http://noticias.juridicas.com/base_datos/Admin/constitucion.t7.html#a131">1</a> y <a href="http://noticias.juridicas.com/base_datos/Admin/constitucion.t7.html#a134 dela Constitución">2</a>.</p>

        <p>Otras causas también pueden suponer la inadmisión de la proposición:</p>

        <p>-Que la propuesta que se presenta ante la Mesa de la Cámara no cumpla todos los requisitos, en cuyo caso la Comisión Promotora podrá corregir el error, en caso de que proceda, en el plazo máximo de un mes.</p>
        <p>-Que el texto que incluye la proposición de Ley sea contradictorio.</p>
        <p>-Que exista una proposición de Ley que verse sobre lo mismo en proceso de trámite.</p>
        <p>-Que ya sea se haya presentado otra iniciativa popular de mismo contenido en el mismo periodo legislativo.</p>
        <a name="about_iniciativa_4"></a>
        <h3>La recogida de firmas.</h3>

        <p>Una vez aprobada la propuesta presentada por la Comisión Promotora ante la Mesa de la Cámara, el siguiente paso es la recogida de firmas. Hace falta un mínimo de 500.000 firmas para que la propuesta de Ley pueda ser tramitada a nivel nacional, pudiendo variar esta cifra si la propuesta se establece a nivel autonómico y siempre de acuerdo a lo que establezcan las leyes de cada Comunidad Autónoma. Las firmas deberán ser recogidas en un plazo de nueve meses desde el día en el que la proposición ha sido aceptada, pudiendo prorrogarse este plazo tres meses más si la Mesa de la Cámara lo considerase oportuno.</p>

        <p>La recogida se puede hacer de dos maneras:</p>

        <p>- La primera de ellas es mediante pliegos: folios de papel que deberán recoger el texto íntegro de la proposición de Ley e incorporar espacios para la firma e identificación de los ciudadanos. Estos pliegos deberán haber sido aprobados previamente por la Junta Electoral Central y deberán estar escritos en castellano, pudiendo estar redactados en los distintos idiomas oficiales de España dependiendo de la Comunidad Autónoma en la que se vayan a distribuir.</p>

        <p>- La segunda manera de desarrollar la recogida de firmas es a través de Internet. En ambos casos los ciudadanos deberán identificarse facilitando su DNI y deberán estar inscritos en su respectivo censo electoral.</p>
        <a name="about_iniciativa_5"></a>
        <h3>El inicio de la tramitación parlamentaria.</h3>

        <p>Una vez presentadas las firmas ante la Mesa del Congreso de los Diputados, ésta deberá incluir la propuesta de Ley dentro del orden del día para que sea tomada en consideración en un plazo máximo de 6 meses. Es entonces cuando se somete a debate, presentando las distintas formaciones políticas sus respectivas enmiendas, hasta llegar a la formulación final de la ley.</p>
        
    <h2><a name="about_electronia">Sobre Firma Electrónica</a></h2>

    <h3><strong>La firma electrónica</strong></h3>

    <p>En España la Ley 59/2003 de 19 de diciembre de Firma Electrónica, establece que la “firma electrónica cualificada o reconocida” tiene la misma eficacia que la firma manuscrita.</p>
    <a name="about_electronia_2"></a>
        <h3>¿Qué necesito para realizar una “firma con certificado electrónico”?</h3>
        <p>1. Un certificado electrónico aceptado. Puedes consultar la lista de certificados electrónicos soportados para firmar en Tractis. En España te recomendamos utilizar el nuevo DNI electrónico. Si aún no dispones de DNIe, puedes conseguir uno solicitando cita previa y pagando 10€ por renovación anticipada.</p>
        <p>2. Un lector de tarjetas inteligentes, solo en caso de que utilices un certificado electrónico que venga dentro de una tarjeta inteligente (como es el caso del DNIe). En España te recomendamos apuntarte a nuestra promoción para conseguir un lector gratis, aunque también puedes comprar un lector en la FNAC, El Corte Inglés, Hipercor/Telecor, Media Markt y muchos otros sitios más.</p>
        <p>3. Tener Java instalado en tu ordenador. Puedes instalar Java fácilmente (versión 1.6 para Windows o versión 1.5 para Linux/Mac).</p>
        <a name="about_electronia_3"></a>
        <h3>Más información</h3>
        <p>Validez legal de la firma electrónica</p>
        <p>Preguntas relacionadas con el DNIe</p>
        <p>Preguntas sobre como firmar en Tractis</p>

    <p>Si tienes cualquier duda, o estás interesado, puedes contactar con nosotros en <a href="mailto:info@mifirma.com">info@mifirma.com</a>
    Parte de este texto ha sido extraído de <a href="http://legal.practicopedia.com/legal/como-presentar-una-iniciativa-legislativa-popular-11155">practicopedia.com </a></p>
    

    
    </div>

      <div class="page-sidebar sec_sidebar">

        <%= render :partial => 'shared/how_it_works' %>

      </div>
  
  <div class="clear">&nbsp;</div>
  </div>