<% content_for :bodyclass do %>como-funciona<% end %> 

<div class="page">

    <div class="page-content">
    
    <h1> ¿Cómo funciona?</h1>
    
    <div class="grey-frame"></div>
    
    <h2> Hacemos realidad nuestras propuestas </h2>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac nisi eu enim ultricies hendrerit vitae tristique risus. Donec pulvinar feugiat ligula, placerat semper eros iaculis id. Maecenas sit amet mauris sit amet arcu sodales pharetra congue non nulla. Vestibulum iaculis ultricies mauris id consectetur. Phasellus accumsan venenatis sagittis. Praesent eget leo odio, eu consequat nisl.</p>
    
    
    <ul>
    
    <%= render :partial => 'proposal_example' %>
    <%= render :partial => 'proposal_example' %>
    <%= render :partial => 'proposal_example' %>

    </ul>
    
    </div>

      <div class="page-sidebar">

        <%= render :partial => 'shared/how_it_works' %>

      </div>
  
  <div class="clear">&nbsp;</div>
  </div>