<% content_for(:bodyclass) {"home"} -%> 
<div class="page">
  
  <div class="page-content home-content ">
    <h6>Iniciativas en curso:</h6>

    <ul class="home_proposals">
      <li>
        <h5>
          Iniciativa de ejemplo
          <span>Acción promovida por: <a href="#">Promotor de ILP de ejemplo</a></span>
          <a href="#" class="read_more">Leer más</a>
        </h5>
        <div class="small_proposal">
          <img src="/images/thumb.png"  class="thumb" alt="">
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante sit amet est et sapien ullamcorper pharetra.</p>
          <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum.</p>
        </div>
      </li>
      <li>
        <h5>
          Iniciativa de ejemplo
          <span>Acción promovida por: <a href="#">Promotor de ILP de ejemplo</a></span>
          <a href="#" class="read_more">Leer más</a>
        </h5>
        <div class="small_proposal">
          <img src="/images/thumb.png"  class="thumb" alt="">
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
          <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum.</p>
        </div>
      </li>
    </ul>
  </div>


  <div class="page-sidebar home_sidebar">
    <dl class="reasons">
      <dt>¿Cómo funciona?</dt>
      <dd>
        <img alt="" src="/images/ico-chat.png">
        <span>Creamos acciones (ILP's y firma de avales para partidos políticos) siguiendo el procedimiento legal para ser aprobados.</span>
        <hr>
      </dd>
      <dd>
        <img alt="" src="/images/ico-card.png">
        <span>Cualquier ciudadano las puede firmar on-line con su DNIe, y después recomendar a sus amigos en redes sociales.</span>
        <hr>
      </dd>
      <dd>
        <img alt="" src="/images/ico-write.png">
        <span>Al llegar al nº necesario de firmas y haber seguido el trámite legal las acciones producen cambio social.</span>
        <hr>
      </dd>
    </dl>
  </div>

  <div class="clear">&nbsp;</div>
</div>