<% content_for(:bodyclass) {"home"} -%> 
<div class="page">
  <p>
    <%= link_to 'ILP de la Guardia Civil', proposal_path(IlpProposal.first) %>
</p>
<p>
  <%= link_to 'Avales', endorsment_proposals_path %>
  </p>


  <div class="clear">&nbsp;</div>
</div>