<% content_for :bodyclass do %>como-funciona<% end %> 

<div class="page terms">

  <div class="page-content">

    <h2>Privacidad</h2>
    
    <h3>1.- Finalidad y responsable del fichero</h3>
        <p>De conformidad con la Ley Orgánica 15/1999, de 13 de Diciembre, de Protección de Datos de Carácter Personal, <strong>MIFIRMA</strong>, con domicilio social en la Calle Serrano 20, 4º, izquierda, de Madrid le informa de la existencia de un fichero automatizado de datos creado por la misma y bajo su responsabilidad.</p>

        <p>La finalidad de dicho fichero es la de gestionar las funciones de su acceso a la web como usuario, realizar el objeto de la misma que es la de acceder a la firma electrónica de documentos a través de terceras empresas, enviar periódicamente información sobre novedades, eventos, productos y actividades que tengan relación con <strong>MIFIRMA</strong> y de envío de cualquier otra información que <strong>MIFIRMA</strong> necesite comunicar a sus usuarios, el envío mediante correo electrónico de información sobre las novedades de la web y, en especial, información sobre los cambios producidos en esta política de privacidad y en los términos de uso del sitio web.</p>

        <p>El envío de datos personales mediante cualquiera de nuestros formularios así como la autorización de cesión de algunos de los mismos desde su cuenta de facebook conforme al procedimiento de registro que se explicará supone la aceptación expresa de su tratamiento automatizado.</p>

        <h3>2.- Derecho de acceso, rectificación, cancelación y oposición</h3>
        <p>El usuario podrá ejercer sus derechos de acceso, rectificación, cancelación y oposición comunicando con el responsable del fichero, <strong>MIFIRMA</strong>, en C/ Serrano, 20, 4º, izquierda, Madrid, España, o bien mediante correo electrónico dirigido a info@<strong>MIFIRMA</strong>.com.</p>

        <h3>3.- Datos recabados del usuario y acceso a los mismos</h3>
        <p>Para crear una cuenta de usuario en <strong>MIFIRMA</strong>.com es necesario rellenar los datos relativos a la “firma con DNIe”, que incluyen el nº de DNI, nombre y apellidos y cuenta de correo electrónico, y podrás ser ampliados a cualesquiera otros fueran necesarios. De los datos accedidos, <strong>MIFIRMA</strong> únicamente guardará en sus servidores los estrictamente necesarios para darle a usted el servicio que ofrecemos y que son: su nombre y apellidos, su e-mail, su nº de DNI y cuenta de correo electrónico. Dichos datos podrán ser ampliados en el futuro si fuera necesario para la correcta prestación del servicio.</p>

        <p>Los datos mencionados serán tratados por <strong>MIFIRMA</strong> conforme a esta política de privacidad y a los mismos se les aplicarán las correspondientes medidas de seguridad a fin de proteger su privacidad.</p>

        <p>El Usuario deberá notificar a <strong>MIFIRMA</strong> cualquier modificación que se produzca en los datos facilitados, respondiendo en cualquier caso de la veracidad y exactitud de los datos suministrados en cada momento. <strong>MIFIRMA</strong> procurará comprobar diligentemente la veracidad de dichos datos, reservándose, sin perjuicio de otras acciones que pudieran corresponderle, el derecho a no registrar o a dar de baja a aquellos usuarios que faciliten datos falsos o incompletos. Ello no obstante, dicha verificación previa no implica en ningún caso la asunción de responsabilidad alguna por los daños o perjuicios que pudieran derivarse de la falsedad o inexactitud de los datos suministrados, de las que responderá únicamente el Usuario.</p>

        <h3>4.- Medidas de seguridad</h3>
        <p>Los datos personales que sean comunicados por el Usuario a <strong>MIFIRMA</strong>, pueden ser almacenados en bases de datos automatizadas o no, cuya titularidad corresponde en exclusiva a <strong>MIFIRMA</strong>, asumiendo ésta todas las medidas de índole técnica, organizativa y de seguridad que garantizan la confidencialidad, integridad y calidad de la información contenida en las mismas de acuerdo con lo establecido en la LOPD y en el Título VIII del Real Decreto 1720/2007, de 21 de diciembre y normativa de aplicación.</p>

        <h3>5.- Actividad de los usuarios</h3>
        <p><strong>MIFIRMA</strong> no controla la INFORMACIÓN que comparten los Usuarios y, en consecuencia, no se hace responsable de la misma. Sólo podrá solicitar al Usuario que elimine INFORMACIÓN en los supuestos previstos en las Condiciones de Uso, o previo requerimiento del órgano competente en cumplimiento de lo dispuesto en la Ley 32/2002, de Servicios de la Sociedad de la Información y Comercio Electrónico.</p>

        <h3>6.- Comunicaciones comerciales</h3>
        <p>El usuario es consciente y acepta expresamente que <strong>MIFIRMA</strong> podrá enviarle al correo electrónico que nos haya facilitado comunicaciones comerciales que considere que puedan ser del interés de sus usuarios. Las comunicaciones comerciales podrán referirse a las propias actividades de <strong>MIFIRMA</strong> o a terceros ajenos a esta mercantil.</p>

        <p>Por otra parte, <strong>MIFIRMA</strong> podrá enviar a sus usuarios comunicaciones relativas a novedades en sus servicios. </p>

        <h3>7.- Cambio de Titularidad</h3>
        <p>En caso de adquisición, fusión o cualesquiera otras causas que provoquen el cambio de la titularidad de la web y el servicio de <strong>MIFIRMA</strong>, el Usuario consiente expresamente que sus datos de registro y su INFORMACIÓN sean transferidos por <strong>MIFIRMA</strong> al nuevo titular, pudiendo ser este último nacional o extranjero. Cuando esto se produzca, <strong>MIFIRMA</strong> cumplirá, en todo caso, con el deber de información a este respecto al Usuario.</p>
        <h3>8.- Uso de cookies</h3>
        <p>El usuario consiente el uso de cookies que, en ningún caso, permitirán la identificación del mismo, a fin de facilitar su navegación en estas páginas web. No obstante lo anterior, el usuario podrá deshabilitar las cookies mediante la oportuna configuración de su navegador a tal efecto.</p>
        <p>Los servidores capturan de forma automática algunos datos que no permiten la identificación del usuarios tales como: hora de visita de la web, el navegador y el sistema operativo que utiliza y el nombre de dominio del proveedor y/o dirección IP que les da acceso a la red.</p>
        <h3>9.- Google Analytics</h3>
        <p><strong>MIFIRMA</strong>.com utiliza Google Analytics, un servicio analítico de web prestado por Google, Inc., una compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos (“Google”). Google Analytics utiliza “cookies”, que son archivos de texto ubicados en su ordenador, para ayudar al website a analizar el uso que hacen los usuarios del sitio web. La información que genera la cookie acerca de su uso del website (incluyendo su dirección IP) será directamente transmitida y archivada por Google en los servidores de Estados Unidos. Google usará esta información por cuenta nuestra con el propósito de seguir la pista de su uso del website, recopilando informes de la actividad del website y prestando otros servicios relacionados con la actividad del website y el uso de Internet. Google podrá transmitir dicha información a terceros cuando así se lo requiera la legislación, o cuando dichos terceros procesen la información por cuenta de Google. Google no asociará su dirección IP con ningún otro dato del que disponga Google. Puede Usted rechazar el tratamiento de los datos o la información rechazando el uso de cookies mediante la selección de la configuración apropiada de su navegador, sin embargo, debe usted saber que si lo hace puede ser que no pueda usar la plena funcionabilidad de este website. Al utilizar este website usted consiente el tratamiento de información acerca de usted por Google en la forma y para los fines arriba indicados.</p>
        <h3>10.- Links</h3>
        <p>El sitio web de <strong>MIFIRMA</strong> puede contener links a otros sitios web. Se recomienda a los Usuarios que visiten otras webs a través de links situados en <strong>MIFIRMA</strong> que lean atentamente las Políticas de Privacidad de los respectivos sitios webs. Las presentes Condiciones sólo rigen para la web y el servicio <strong>MIFIRMA</strong>.</p>
        <h3>11.- Invitaciones</h3>
        <p>Los Usuarios pueden invitar a amigos para que se unan al servicio mediante un correo electrónico a través del sistema de invitación automático de <strong>MIFIRMA</strong>. Tal y como se recoge en las Condiciones de Uso, los datos que los Usuarios introduzcan en dichas invitaciones no serán, en ningún caso, tratados por <strong>MIFIRMA</strong>, y quien realice la invitación responderá frente al destinatario de la misma por cualquier reclamación de este contra <strong>MIFIRMA</strong>.</p>
        <h3>12.- Cambios en política de privacidad</h3>
        <p><strong>MIFIRMA</strong> se reserva el derecho a modificar la presente política de privacidad. Cualquier cambio relevante en la política de privacidad será inmediatamente comunicado al usuario por medio de la dirección de correo electrónico que el mismo haya facilitado a <strong>MIFIRMA</strong> al crear su cuenta de usuario.</p>
        <p>Los usuarios no registrados deben revisar esta política de privacidad con frecuencia a fin de conocer los posibles cambios realizados desde la última vez que accedieron al sitio web.</p>
        <p>El uso del servicio con posterioridad a la modificación de la política de privacidad supone el conocimiento y aceptación de la nueva versión modificada de la misma.</p>
    

    
    
  </div>

  <div class="page-sidebar sec_sidebar">

    <%= render :partial => 'shared/how_it_works' %>

  </div>

  <div class="clear">&nbsp;</div>
</div>