<% content_for :bodyclass do %>como-funciona<% end %> 

<div class="page terms">

  <div class="page-content">

    <h2>Términos de Uso</h2>

    <h3>1.- Objeto y modo de aceptación de los términos de uso</h3>

    <p><strong>MIFIRMA</strong> (en adelante, “ <strong>MIFIRMA</strong> ”) con domicilio social en Madrid, calle Serrano 20, 4º, izquierda, y cuya dirección electrónica de contacto es info@ <strong>MIFIRMA</strong> .com. </p>

    <p>Las presentes condiciones generales regulan el acceso y la utilización del Sitio Web alojado bajo el nombre de dominio http://www.<strong>MIFIRMA</strong>.com, así como de todos los contenidos que se muestran o pongan a disposición de los USUARIOS. El acceso y/o utilización del Sitio Web implica la aceptación por parte del USUARIO de todas las condiciones generales que <strong>MIFIRMA</strong> tenga publicadas en el momento de dicho acceso o uso.</p>

    <p>Sin perjuicio de lo anterior, estas condiciones generales no obstaculizan la fijación por parte de <strong>MIFIRMA</strong> de otras condiciones particulares para la contratación o utilización de determinados servicios o productos que se ofrezcan a los USUARIO s en el Sitio Web.</p>

    <p><strong>MIFIRMA</strong> es un servicio de intermediación que permite a los usuarios acceder a servicios de firma electrónica de documentos, en concreto de Iniciativa Legislativas Populares (ILP), a través de otras empresas de certificación de firma electrónica.</p>

    <p>El USUARIO de <strong>MIFIRMA</strong> .com podrá acceder a las propuestas que en <strong>MIFIRMA</strong> ponen a disposición del público otros usuarios desde este servicio. Asímismo, el USUARIO podrá acceder desde <strong>MIFIRMA</strong> a informaciónm relativa a dichas propuestas, así como a la posibilidad de firmarlas electrónicamente, con la intermediación de otras empresas dedicadas a la certificación de firma electróica.</p>

    <p><strong>MIFIRMA</strong> se configura como un prestador de servicios de la sociedad de la información, en concreto como operador de una red social, estando regulado por la Ley 34/2002, de 11 de julio, de servicios de la sociedad de la información y de comercio electrónico.</p>

    <p><strong>MIFIRMA</strong> podrá cesar en cualquier momento y sin previo aviso en la prestación de sus servicios así como modificar el servicio prestado, ya sea en aspectos accidentales o sustanciales. </p>

    <p>El USUARIO podrá poner término a este acuerdo en cualquier momento, dando de baja su cuenta.</p>

    <p><strong>MIFIRMA</strong> podrá cancelar o suspender la cuenta o el acceso a la web sin previo aviso del USUARIO que, según su criterio unilateral, considere que está incumplimiento los presentes Términos de Uso y/o la legalidad vigente.</p>

    <h3>2.- Idioma de los “términos de uso”.</h3>

    <p>Los presentes términos de uso se presentan únicamente en idioma español.</p>

    <h3>3.- Almacenaje y reproducción de estas condiciones generales de contratación</h3>

    <p>Usted puede almacenar y reproducir estas condiciones generales de contratación pinchando en los iconos destinados al efecto en la barra de herramientas de la ventana en la que las visualiza.</p>

    <h3>4.- Precio por el uso del servicio y condiciones generales sobre la compra en <strong>MIFIRMA</strong></h3>

    <p>El registro como USUARIO de <strong>MIFIRMA</strong> es opcional y gratuito.</p>

    <p>EL USUARIO , sea o no un USUARIO registrado, podrá acceder a las propuestas puestas a disposición del público en <strong>MIFIRMA</strong> de forma completamente gratuita.</p>
    
    <h3>5.- Privacidad.</h3>
    
    <p>Con la aceptación de estos términos de uso el USUARIO declara conocer y aceptar igualmente nuestra política de privacidad [ENLACE a “política de privacidad”].</p>
        <p>Los datos personales remitidos por el USUARIO utilizando cualquiera de nuestros formularios se incorporarán a un fichero automatizado creado por <strong>MIFIRMA</strong> y bajo su responsabilidad. El USUARIO se compromete a que los datos por él facilitados no son falsos, se encuentran actualizados y no corresponden a otras personas.</p>
        
        <h3>6.- Responsabilidad por uso indebido del servicio e infracción de derechos.</h3>
        
        <p>EL USUARIO reconoce que <strong>MIFIRMA</strong> no es responsable de la posible ilicitud o lesión de derechos de las actividades realizadas por los USUARIO s del servicio.</p>
        <p>EL USUARIO se compromete a utilizar el servicio ofrecido por <strong>MIFIRMA</strong> conforme a la legislación vigente y, a título enunciativo, se abstendrá de:</p>
        <p>1.- Publicar contenido ofensivo, injurioso, calumnioso, racista, discriminatorio o que de cualquier otro modo pueda lesionar derechos de terceros.</p>
        <p>2.- Publicar datos, imágenes personales o información privada de terceros.</p>
        <p>3.- Crear cuentas de USUARIO s con perfiles falsos suplantando la personalidad de terceros.</p>
        <p>4.- Utilizar el servicio para realizar comunicaciones comerciales no autorizadas o recopilar datos de otrosUSUARIO s.</p>
        <p>5.- Subir al servicio obras intelectuales de terceros sin autorización de los mismos.</p>
        <p>6.- Publicar contenido que pudiera vulnerar el derecho al honor, a la intimidad o a la propia imagen de terceros.</p>
        <p><strong>MIFIRMA</strong> no es responsable de la posible ilicitud o lesión de derechos de las obras que EL GRUPO pone a disposición de terceros mediante el servicio ofrecido en <strong>MIFIRMA</strong> .com y <strong>MIFIRMA</strong> .com.</p>
        <p>Asímismo, EL USUARIO se compromete a reportar a <strong>MIFIRMA</strong> todas aquellas obras alojadas en <strong>MIFIRMA</strong> y de cuya ilicitud tenga fundadas sospechas.</p>
        <p><strong>MIFIRMA</strong> se reserva el derecho a retirar las obras cuya ilicitud le consten -o de las que tenga fundadas sospechas- en atención a lo exigido en la Ley de Servicios de la Sociedad de la Información vigente en España.</p>
        <p><strong>MIFIRMA</strong> se reserva el derecho a cancelar la cuenta del USUARIO del que considere fundadamente que pueda estar usando la misma para infringir derechos de terceros.</p>
        
        
        <h3>7.- Publicidad</h3>
        
        <p>El USUARIO es consciente y acepta que <strong>MIFIRMA</strong> puede ahora o en el futuro incluir publicidad en el sitio web de sus propias actividades o publicidad de terceros ajenos a esta mercantil.</p>
        
        <h3>8.- Ley y jurisdicción aplicable</h3>
        
        <p>Ambas partes acuerdan someter el presente acuerdo a las leyes españolas y a su jurisdicción y, en concreto, a la de los Juzgados de Madrid (España).</p>
        
        <h3>9.- Cambios en los términos de uso</h3>
        
        <p><strong>MIFIRMA</strong> podrá modificar estos términos de uso.</p>
        <p>En caso de modificación, el USUARIO acepta que se le enviará un correo electrónico informándole de que se ha procedido a la referida modificación. Los USUARIO s no registrados deben revisar estos términos de uso con frecuencia a fin de conocer los posibles cambios realizados desde la última vez que accedieron al sitio web.</p>
        <p>El uso del servicio con posterioridad a la modificación de los términos de uso supone el conocimiento y aceptación de la nueva versión modificada de los mismos.</p>
        


  </div>

  <div class="page-sidebar sec_sidebar">

    <%= render :partial => 'shared/how_it_works' %>

  </div>

  <div class="clear">&nbsp;</div>
</div>