<% content_for :bodyclass do %>como-funciona<% end %> 
<% content_for :title, "Términos de uso"%>
<div class="page terms">

  <div class="page-content">

    <h1 id="1">Condiciones Legales de Uso de MiFirma</h1>
<h3 id="1.1.1">1.- Objeto<br/></h3>
<p>Este documento incluye las condiciones o términos legales de uso de los servicios de <strong>www.mifirma.com</strong> (en adelante, “ <strong>MIFIRMA</strong> ”) con domicilio social en Madrid, calle Serrano 20, 4º, izquierda, y cuya dirección electrónica de contacto es info@ <strong>MIFIRMA</strong> .com.</p>
<p>El registro, acceso y/o utilización de dichos servicios supone la existencia de un contrato entre <strong>MIFIRMA</strong> y el USUARIO, que se rige por los dispuesto en estas condiciones generales, sin perjuicio de los pactos particulares que en su caso se establezcan, que el USUARIO declara conocer y aceptar en todos sus términos.</p>
<p>El USUARIO declara que toda la información facilitada en el proceso de registro y posteriormente es cierta, completa y se encuentra actualizada, y garantiza que es mayor de edad y que, en todo caso, tiene capacidad legal suficiente para la celebración de este contrato y para la utilización de los servicios de <strong>MIFIRMA</strong> sin limitación alguna.<br/></p>
<p>El incumplimiento de estas condiciones por parte del USUARIO facultará a <strong>MIFIRMA</strong> a suspender o cancelar su acceso y uso al servicio, quedando resuelto este contrato.<br/></p>
<h3 id="1.1.2">2.- Descripción del servicio<br/></h3>
<p><strong>MIFIRMA</strong> es un servicio de intermediación que permite a los usuarios acceder y participar en iniciativas legislativas populares u otros procesos que impliquen la recogida de firmas a través de Internet y por medio de sistemas de firma electrónica, sin más requisitos que uso de un navegador compatible con HTML 4.1 que admita la ejecución de aplicaciones en <em>JavaScript</em> y <em>ActionScript</em> y los correspondientes dispositivos de firma electrónica.<br/></p>
<p>El USUARIO puede crear y poner a disposición del público sus propuestas, así como acceder y participar en otras que hayan sido promovidas por otros, todo ello por Internet y utilizando sistemas de certificación de firma electrónica de terceros.</p>
<p><strong>MIFIRMA</strong> se configura como una plataforma web que facilita el desarrollo y puesta en marcha de iniciativas legislativas populares, neutral y gratuita. <strong>MIFIRMA</strong> no depende ni tiene vinculación alguna con partidos, agrupaciones o intereses políticos.</p>
<p>EL USUARIO se compromete a utilizar el servicio ofrecido por <strong>MIFIRMA</strong> conforme a la legislación vigente y, a título enunciativo, se abstendrá de:</p>
<p>Publicar contenido ofensivo, injurioso, calumnioso, racista, discriminatorio o que de cualquier otro modo pueda lesionar derechos de terceros.</p>

<p>Publicar datos, imágenes personales o información privada de terceros.</p>
<p>Crear cuentas de USUARIOS con perfiles falsos suplantando la personalidad de terceros.</p>
<p>Utilizar el servicio para realizar comunicaciones comerciales no autorizadas o recopilar datos de otros USUARIOS.</p>
<p>Subir al servicio obras intelectuales de terceros sin autorización de los mismos.</p>
<p>Publicar contenido que pudiera vulnerar el derecho al honor, a la intimidad o a la propia imagen de terceros.</p>

<p>El USUARIO se compromete a utilizar MIFIRMA con los propósitos anteriores y de acuerdo con la buena fe, con pleno respeto a las propuetas, intereses y derechos de los demás usuarios.<br/></p>
<h3 id="1.1.3">3.- Privacidad</h3>
<p>Los datos personales facilitados por el USUARIO en el momento de registro o, posteriormente en el procedimiento, serán incorporados a un fichero automatizado creado por <strong>MIFIRMA</strong> y bajo su responsabilidad, cuya finalidad es la gestión de los servicios de <strong>MIFIRMA</strong> de acuerdo con su objeto, por tanto la administración de un espacio de información, comunicación y relación entre sus usuarios, así como la atención de consultas, sugerencias o dudas en relación con nuestros servicios. Cuando expresamente se indique, los datos marcados con un asterisco (*) serán obligatorios, sin los cuales no podremos tramitar los servicios o peticiones correspondientes.</p>
<p>Los datos serán tratados de forma confidencial, aplicándose las medidas técnicas u organizativas establecidas en la legislación vigente para evitar su acceso, manipulación o eliminación indebidas, sin que, salvo consentimiento expreso por parte del USUARIO, vayan a ser cedidos a otras entidades o terceras personas fuera de los casos legalmente permitidos y a excepción de la comunicación de los mismos a los promotores o responsables de las iniciativas legislativas u otros procesos de participación política en las que el USUARIO participe, y a la plataforma <strong>TRACTIS</strong>, que ofrece los servicios de identificación y firma electrónica exigibles por la reglamentación aplicable al procedimiento. El registro y continuidad en el servicio por parte del USUARIO implicará el consentimiento expreso para el tratamiento y cesiones anteriores, que resultan obligatorias para el procedimiento.<br/></p>
<p>El USUARIO será el único responsable de la salvaguarda y custodia de su nombre de usuario y clave de acceso, así como de los datos de creación de la firma electrónica que, en su caso, emplee en el procedimiento. En caso de pérdida o compromiso de la clave de acceso, deberá ponerse en contacto con <strong>MIFIRMA</strong> a fin de que le generemos nuevos datos. Caso contrario, el USUARIO asumirá las consecuencias que se deriven de cualquier uso de los mismos.</p>
<p>El inicio de sesión como usuario en <strong>MIFIRMA</strong> implicará la instalación de una <em>cookie</em> en su equipo, con la única finalidad de mantener la sesión abierta durante su navegación. Dicha <em>cookie</em> sólo puede ser leída y utilizada por nuestros servidores, y caducará finalizada dicha sesión. El USUARIO declara estar informado y aceptar la instalación y uso de esta <em>cookie</em>, si bien en todo caso podrá configurar su navegador para que le pregunte con carácter previo a su instalación o ejecución, o bien eliminar estos elementos manualmente en cualquier momento.<br/>
p>El proceso de firma de documentos con certificado electrónico utiliza un servicio web denominado "Tractis" proporcionado por Negonation Platform, S.L., sociedad española con CIF núm. B84282029 y domicilio en Plaza Can Suris s/n, 08940, Cornellà de Llobregat, Barcelona (España). El servicio Tractis permite la firma de nuestros documentos utilizando certificados electrónicos. A tal fin, Tractis recibe internamente los datos de identificación y firma del usuario, verifica la validez de los certificados y valida la operación con plenos efectos legales. La información relativa a esta validación es almacenada, por motivos de seguridad y garantía, en los sistemas de Tractis y asociada al Perfil de Usuario correspondiente. Desde el mismo momento de firma del documento, el usuario autoriza la comunicación de su email a Tractis y el tratamiento de dicho email por parte de Tractis con la finalidad de crearle una cuenta de usuario en Tractis y de acuerdo con las condiciones de uso del servicio disponibles en la dirección web <a href="https://www.tractis.com/terms_of_service">https://www.tractis.com/terms_of_service</a>.
<br/>
<strong>MIFIRMA</strong> utiliza sistemas de análisis y medición de visitas, tráfico y navegación proveídos por terceros. Entre éstos, emplea Google Analytics, de Google, Inc., que utililza una <em>cookie</em> que recoge su dirección IP y uso de la web. La responsabilidad relativa a estos datos corresponde exclusivamente a Google, Inc. que, de acuerdo con los términos del servicio (disponibles en <a href="http://www.google.com/intl/es/analytics/tos.html">http://www.google.com/intl/es/analytics/tos.html</a>), empleará esta información con el propósito de seguir la pista de su uso de la web, recopilando informes de la actividad de la misma así como de Internet. Google afirma podrá transmitir dicha información a terceros cuando así se lo requiera la legislación, o cuando dichos terceros procesen la información por cuenta de Google, y que no asociará su dirección IP con ningún otro dato del que disponga Google. Al utilizar este sitio web, el USUARIO consiente el tratamiento de dichos datos por Google en la forma y para los fines señalados.<br/></p>
<h3 id="1.1.4">4.- Garantías y responsabilidad</h3>
<p><strong>MIFIRMA</strong> una plataforma neutral, en la que los usuarios introducen las propuestas, iniciativas o contenidos en general bajo su propio criterio y responabilidad. Ni <strong>MIFIRMA</strong> ni sus promotores aprueban, recomiendan ni valoran la información facilitada por dichos USUARIOS, que no reflejan necesariamente sus puntos de vista ni implican por si solo asociación alguna con ellos.<br/>

<br/>
El USUARIO responde frente a terceros y frente a <strong>MIFIRMA</strong> de las consecuencias, responsabilidades, daños y perjuicios que se deriven de los contenidos que introduzca o difunda a través de este servicio, así como de cualquier recopilación, tratamiento y uso posterior de los datos personales que otros usuarios le hayan proporcionado. Asimismo, garantiza que los contenidos introducidos no infringen cualesquiera derechos de terceros, ya sean de propiedad intelectual, industrial, honor, intimidad, imagen, protección de datos, publicidad, mercado y competencia, comercio o servicios electrónicos u otros que resulten aplicables.<br/>
<br/>
En todo caso, <strong>MIFIRMA</strong> podrá moderar y velar por el correcto uso de este servicio, pudiendo eliminar, total o parcialmente, cualquier contenido que infrinja, real o potencialmente, lo dispuesto en estas condiciones o en la legislación vigente. Si considera que algunos de estos contenidos atentan contra su persona o contra terceros, o pueden considerarse ilícitos o inapropiados, le rogamos se ponga en contacto con nosotros para que podamos valorarlos y adoptar en su caso las medidas oportunas.<br/>
<br/>
<strong>MIFIRMA</strong> no garantiza la inexistencia de interrupciones o errores en el acceso al servicio o a sus contenidos, ni que éstos se encuentre permanentemente actualizados, sin imprecisiones o inexactitudes. <strong>MIFIRMA</strong> se compromete a llevar acabo, siempre que no concurran causas que lo hagan imposible o de difícil ejecución y dentro de un plazo razonable, todas aquellas labores tendentes a subsanar los errores, restablecer la comunicación y actualizar dichos contenidos.</p>

<h3 id="1.1.5">5.- Modificaciones y duración<br/></h3>
<p><strong>MIFIRMA</strong> podrá modificar el cualquier momento estas condiciones y la propia prestación del servicio, sin que haya lugar a reclamación alguna y sin perjuicio de los derechos adquiridos por terceros.<br/></p>
<p>Cualquier modificación será notificada por correo electrónico al USUARIO. La continuidad en el acceso o uso del servicio implicará la aceptación de las nuevas condiciones.</p>
<h3 id="1.1.6">6.- Ley y jurisdicción aplicable</h3>
<p>Este contrato se rige por la legislación española en aquello no expresamente previsto. Las partes, USUARIO y <strong>MIFIRMA</strong>, con renuncia a cualquier otro fuero, convienen en que cualquier discrepancia o conflicto será sometido a la jurisdicción y competencia de los tribunales de Madrid capital (España), salvo que por ministerio de la Ley correspondiera otro.<br/></p>
  
  


  </div>


  <div class="clear">&nbsp;</div>
</div>