<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Thanks</title>
  <link rel="stylesheet" href="/stylesheets/modals.css" type="text/css" media="screen" title="no title" charset="utf-8">
  
</head>

<body>
  <div class="modal">
    <h1>¡Genial! Tu firma se ha registrado con éxito</h1>
    <div class="help_us">
      <strong>Ayúdanos a llegar a más personas</strong>
      <p>Comparte esta propuesta para poder llegar al número mínomo de personas que necesitamos</p>
    </div>
    <ul class="share">
      <li><a href="#" class="fb">Facebook</a></li>
      <li><a href="#" class="twitter">Twitter</a></li>
      <li><a href="#" class="mail">E-Mail</a></li>
    </ul>
  </div>
</body>
</html>