<%= form_for(@endorsment_signature) do |f| %>
  <% if @endorsment_signature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@endorsment_signature.errors.count, "error") %> prohibited this endorsment_signature from being saved:</h2>

      <ul>
      <% @endorsment_signature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
