.modal h1 {
  padding: 20px;
  text-align: center;
  font-size: 16px;
  color: #76974a;
  background: #ebf9e3;
}
.modal .help_us { margin-top: 15px; }
.modal .help_us strong {
  font-size: 14px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}
.modal .help_us p {
  color: #9b9b9b;
  font-size: 11px;
}
.modal .share {
  overflow: hidden;
  margin-top: 15px;
  width: 310px;
  margin: 15px auto 5px auto;
}
.modal .share li { float: left; }
.modal .share li a {
  margin-right: 20px;
  font-size: 14px;
  color: #7895a7;
  padding-left: 40px;
  line-height: 36px;
  display: block;
  text-decoration: none;
}
.modal .share li a:hover { text-decoration: underline; }
.modal .share li .fb { background: url(../images/ico_fb.png) no-repeat; }
.modal .share li .twitter { background: url(../images/ico_tw.png) no-repeat; }
.modal .share li .mail {
  margin-right: 0px;
  background: url(../images/ico_mail.png) no-repeat;
}
