html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
:focus { outline: 0; }
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul { list-style: none; }
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before { content: ""; }
blockquote:after { content: ""; }
q:before { content: ""; }
q:after { content: ""; }
blockquote, q { quotes: "" ""; }
.left {
  display: block;
  float: left;
}
.right {
  display: block;
  float: right;
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.inline { display: inline-block; }
.clear { clear: both; }
.invisible { visibility: hidden; }
.hidden { display: none; }
.scrollable { overflow: auto; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.x_horizontal_center_outer {
  *text-align: center;
  *width: 100%;
}
.debug { background-color: #ffe59f; }
body {
  background: white url(/images/header-bkg.png) 0 0 repeat-x;
  background-color: white;
  font-family: arial;
  font-size: 12px;
  *text-align: center;
  *width: 100%;
}
body.about-us, body.como-funciona { background: white url(/images/header-bkg-long.png) 0 0 repeat-x; }
div.main-wr {
  width: 960px;
  *text-align: left;
  margin: 0 auto;
}
.terms strong { font-weight: bold !important; }
div.header-top a.logo {
  line-height: 50px;
  text-decoration: none;
  display: inline;
  margin-left: 16px;
}
div.header-top a.logo img { vertical-align: middle; }
div.header-top a.logo:visited {
  line-height: 50px;
  text-decoration: none;
  display: inline;
  margin-left: 16px;
}
div.header-top a.logo:visited img { vertical-align: middle; }
div.header-top ul {
  height: 50px;
  padding-left: 50px;
  display: inline;
}
div.header-top ul li {
  display: inline;
  color: white;
  height: 50px;
}
div.header-top ul li span.li-sep { margin: 0 14px; }
div.header-top ul li a {
  line-height: 50px;
  text-decoration: none;
  color: white;
}
div.header-top ul li a:hover { text-decoration: underline; }
div.header-top ul li a:visited {
  line-height: 50px;
  text-decoration: none;
  color: white;
}
div.header-top ul li a:visited:hover { text-decoration: underline; }
div.header-bottom { height: 195px; }
div.header-bottom .lh {
  padding-top: 33px;
  padding-left: 5px;
  float: left;
  width: 243px;
}
div.header-bottom .rh {
  float: left;
  padding-top: 20px;
}
div.header-bottom .rh h2 {
  font-size: 30px;
  font-style: italic;
  line-height: 40px;
  display: inline;
  color: #333333;
  font-family: Georgia, Georgia, serif;
  font-style: italic;
}
div.header-bottom .rh ul {
  width: 712px;
  margin-top: 20px;
  font-family: arial;
  color: #333333;
}
div.header-bottom .rh li {
  float: left;
  font-size: 17px;
  width: 237px;
  line-height: 24px;
}
div.header-bottom .rh li img { float: left; }
div.header-bottom .rh li div {
  float: left;
  margin-left: 15px;
  padding-top: 2px;
}
div.page {
  padding: 20px 20px 20px 22px;
  margin-top: 4px;
  margin-left: 5px;
  width: 920px;
}
div.page h4 {
  font-size: 26px;
  font-family: Arial;
  font-weight: normal;
  line-height: 20px;
  padding-left: 4px;
  margin-bottom: 20px;
  margin-left: -3px;
}
.about-us div.page {
  padding: 27px 20px 20px 22px;
  margin-top: 4px;
  margin-left: 5px;
  width: 956px;
}
.about-us div.page h1 {
  font-size: 26px;
  font-family: Arial;
  font-weight: normal;
  line-height: 20px;
  padding-left: 4px;
  margin-bottom: 16px;
  margin-left: -3px;
}
.about-us div.page p {
  line-height: 30px;
  font-size: 14px;
  margin-bottom: 15px;
}
.about-us div.page .quote {
  color: #444444;
  font-family: georgia;
  font-size: 15px;
  font-style: italic;
  display: block;
  font-weight: normal;
}
.about-us div.page ul { margin-top: 20px; }
.about-us div.page ul li {
  clear: both;
  margin-top: 20px;
  *margin-top: 0px;
}
.about-us div.page ul li b {
  font-size: 16px;
  font-weight: bold;
}
.about-us div.page ul li a {
  margin-right: 85px;
  color: #507bab;
  text-decoration: none;
  line-height: 14px;
  margin-top: 2px;
  *margin-top: -12px;
}
.about-us div.page ul li a:visited {
  margin-right: 85px;
  color: #507bab;
  text-decoration: none;
  line-height: 14px;
  margin-top: 2px;
  *margin-top: -12px;
}
.about-us div.page ul li p {
  margin-top: 5px;
  width: 450px;
  font-size: 12px;
  line-height: 180%;
}
.about-us div.page ul li img {
  float: left;
  margin-right: 25px;
  margin-bottom: 2px;
}
.about-us div.page ul li div {
  float: left;
  display: block;
  width: 380px;
}
.about-us div.page ul li hr {
  clear: both;
  visibility: hidden;
}
.about-us div.page ul.members a { margin-right: 0px !important; }
.about-us div.page .small_quote {
  color: #444444;
  font-family: georgia;
  font-size: 13px;
  font-style: italic;
  line-height: 150%;
  width: 580px;
  font-weight: bold;
}
.about-us div.page .small_quote a { color: #407d92; }
.como-funciona div.page {
  padding: 27px 20px 20px 22px;
  margin-top: 4px;
  margin-left: 5px;
  width: 956px;
}
.como-funciona div.page h1 {
  font-size: 26px;
  font-family: Arial;
  font-weight: normal;
  line-height: 20px;
  padding-left: 4px;
  margin-bottom: 20px;
  margin-left: -3px;
}
.como-funciona div.page h2 {
  font-size: 18px;
  font-family: Arial;
  font-weight: bold;
  line-height: 20px;
  padding-left: 4px;
  margin-bottom: 10px;
  margin-left: -3px;
}
.como-funciona div.page h2 a { color: #333333 !important; }
.como-funciona div.page h3 {
  font-size: 14px;
  font-weight: bold;
  color: #36679f;
  margin-bottom: 8px;
  padding-left: 10px;
}
.como-funciona div.page div.grey-frame {
  width: 613px;
  height: 315px;
  margin-bottom: 22px;
  background-color: #ebebeb;
}
.como-funciona div.page p {
  line-height: 140% !important;
  font-size: 14px;
  color: #333333;
  margin-bottom: 15px;
  padding-left: 10px;
}
.como-funciona div.page ul {
  color: #333333;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 15px;
  list-style-type: square;
}
.como-funciona div.page ul li {
  clear: both;
  margin-left: 15px;
}
.como-funciona div.page ul li a { color: #333333; }
.como-funciona div.page ul li b {
  font-size: 16px;
  font-weight: bold;
}
.como-funciona div.page ul li div.proposal-example-content { padding-top: 10px; }
.como-funciona div.page ul li p { margin-top: 5px; }
.como-funciona div.page ul li img {
  float: left;
  margin-right: 12px;
  margin-bottom: 2px;
}
.como-funciona div.page ul li div {
  float: left;
  display: block;
  width: 380px;
}
.como-funciona div.page ul li hr {
  clear: both;
  visibility: hidden;
}
.como-funciona div.page ul li ul { list-style-type: decimal; }
.como-funciona div.page ul li ul a { color: #36679f; }
.como-funciona div.page a {
  color: #36679f;
  text-decoration: none;
}
.como-funciona div.page a:hover { text-decoration: underline; }
.home div.page { background: transparent url(/images/page-frame-l.png) 0 0 no-repeat; }
.proposal div.page { background: transparent url(/images/page-frame-m.png) 0 0 no-repeat; }
.about-us div.page { background: transparent url(/images/page-frame-s.png) 0 0 no-repeat; }
.como-funciona div.page { background: transparent url(/images/page-frame-s.png) 0 0 no-repeat; }
div.page-content {
  width: 590px;
  float: left;
}
.about-us div.page-content {
  width: 612px;
  float: left;
  padding-left: 5px;
}
div.proposal {
  width: 590px;
  position: relative;
  margin-bottom: 20px;
}
div.proposal hr {
  color: #ececec;
  clear: both;
}
div.proposal h1 {
  font-size: 30px;
  line-height: 32px;
  padding: 12px 0px 8px;
  border-bottom: 2px solid #ececec;
  margin-bottom: 15px;
}
div.proposal h1 a {
  color: #36679f;
  text-decoration: none;
}
div.proposal h1 a:hover { text-decoration: none; }
div.proposal h1 a:visited {
  color: #36679f;
  text-decoration: none;
}
div.proposal h1 a:visited:hover { text-decoration: none; }
div.proposal h1 span {
  font-size: 12px;
  display: block;
  color: #666666;
  line-height: 130%;
  margin-top: 8px;
}
div.proposal .shadow {
  width: 220px;
  height: 10px;
  display: block;
  position: absolute;
  background: transparent url(../images/shadow_proposal.png) no-repeat;
  bottom: -10px;
  right: 5px;
}
div.proposal a.pdf-link {
  margin-top: 20px;
  margin-left: 7px;
  width: 92px;
  color: #507bab;
  text-decoration: none;
  float: right;
  font-weight: bold;
}
div.proposal a.pdf-link img { vertical-align: middle; }
div.proposal a.pdf-link:visited {
  margin-top: 20px;
  margin-left: 7px;
  width: 92px;
  color: #507bab;
  text-decoration: none;
  float: right;
  font-weight: bold;
}
div.proposal a.pdf-link:visited img { vertical-align: middle; }
div.proposal div.fb-like {
  background: #f4f9f3;
  border-top: 1px dotted #bdbdbd;
  margin-top: 15px;
  padding-left: 5px;
  padding-top: 10px;
  padding: 20px;
  margin-bottom: 20px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
div.proposal div.fb-like h3 {
  font-size: 16px;
  margin-bottom: 8px;
  color: #333333;
  font-weight: bold;
}
div.proposal div.fb-like h5 {
  font-size: 12px;
  color: #444444;
}
div.proposal div.fb-like h6 {
  font-size: 13px;
  margin-bottom: 8px;
  color: #444444;
  font-weight: bold;
}
div.proposal div.fb-like .share {
  overflow: hidden;
  margin-bottom: 15px;
}
div.proposal div.fb-like .share li { float: left; }
div.proposal div.fb-like input[type=text] {
  background: fff;
  border: 1px solid #e8e8e8;
  border-top: 2px solid #e8e8e8;
  padding: 8px;
  width: 330px;
  font-size: 14px;
  color: #666666;
  margin-bottom: 5px;
}
div.proposal .proposal_content {
  line-height: 150%;
  color: #333333;
  font-size: 13px;
  margin-bottom: 8px;
}
div.proposal .proposal_content p {
  line-height: 150%;
  color: #333333;
  font-size: 13px;
  margin-bottom: 8px;
}
div.proposal .download {
  background: #f3f3f3;
  padding: 20px 10px;
  position: relative;
  margin-top: 15px;
}
div.proposal .download p {
  color: #333333;
  font-size: 16px;
}
div.proposal .download a {
  background: url(../images/btn_download.png) 0 0 no-repeat;
  display: block;
  background-position: 0 0;
  width: 106px;
  height: 36px;
  text-indent: -9999px;
  position: absolute;
  top: 10px;
  right: 10px;
}
div.proposal .download a:hover { background-position: 0 -41px; }
div.proposal img {
  float: left;
  margin: 0 10px 10px 0;
}
div.proposal-issue {
  margin-top: 15px;
  margin-bottom: 27px;
}
div.proposal-issue h4 {
  margin-left: -3px;
  float: left;
  font-family: Arial;
  font-size: 19px;
  margin-bottom: 10px;
  width: 475px;
}
div.proposal-issue img.cross-ico {
  float: left;
  margin-right: 15px;
}
div.proposal-issue div.proposal-issue-content {
  float: left;
  width: 479px;
  line-height: 22px;
}
div.proposal-solving { margin-top: 10px; }
div.proposal-solving h4 {
  margin-left: -3px;
  float: left;
  font-family: Arial;
  font-size: 19px;
  margin-bottom: 10px;
  width: 475px;
}
div.proposal-solving img.tick-ico {
  float: left;
  margin-right: 15px;
}
div.proposal-solving div.proposal-solving-content {
  float: left;
  width: 479px;
  line-height: 22px;
}
div.proposal-solving div.proposal-solving-content li {
  margin-bottom: 7px;
  list-style-position: inside;
  list-style-type: disc;
}
div.proposal-solving div.proposal-solving-content p { margin-bottom: 10px; }
div.proposal-solving div.proposal-solving-content p a {
  display: inline;
  color: #507bab;
  text-decoration: none;
}
div.proposal-solving div.proposal-solving-content p a:visited {
  display: inline;
  color: #507bab;
  text-decoration: none;
}
div.proposal-solving div.proposal-solving-content ul { margin-bottom: 10px; }
div.proposal-solving div.proposal-solving-content ul a {
  display: inline;
  color: #507bab;
  text-decoration: none;
}
div.proposal-solving div.proposal-solving-content ul a:visited {
  display: inline;
  color: #507bab;
  text-decoration: none;
}
div.proposal-solving div.proposal-reaching-content li {
  margin-bottom: 7px;
  list-style-position: inside;
  list-style-type: disc;
}
div.proposal-solving div.proposal-reaching-content p { margin-bottom: 10px; }
div.proposal-solving div.proposal-reaching-content p a {
  display: inline;
  color: #507bab;
  text-decoration: none;
}
div.proposal-solving div.proposal-reaching-content p a:visited {
  display: inline;
  color: #507bab;
  text-decoration: none;
}
div.proposal-solving div.proposal-reaching-content ul { margin-bottom: 10px; }
div.proposal-solving div.proposal-reaching-content ul a {
  display: inline;
  color: #507bab;
  text-decoration: none;
}
div.proposal-solving div.proposal-reaching-content ul a:visited {
  display: inline;
  color: #507bab;
  text-decoration: none;
}
div.proposal-issue-content a {
  display: inline;
  color: #507bab;
  text-decoration: none;
}
div.proposal-issue-content a:visited {
  display: inline;
  color: #507bab;
  text-decoration: none;
}
div.proposal-reaching { margin-top: 10px; }
div.proposal-reaching h4 {
  float: left;
  font-family: Arial;
  font-size: 19px;
  margin-bottom: 10px;
  width: 475px;
}
div.proposal-reaching img.pen-ico {
  float: left;
  margin-right: 15px;
}
div.proposal-reaching div.proposal-reaching-content {
  float: left;
  width: 479px;
  line-height: 22px;
}
div.sign {
  margin-top: 28px;
  margin-left: 5px;
  _padding-top: 16px;
  height: 60px;
  display: block;
  background: transparent url(/images/firmar-btn-bgk.png) 0 0 no-repeat;
  padding-left: 8px;
  line-height: 60px;
  margin-bottom: 20px;
}
div.sign input {
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -10px;
}
div.sign span {
  font-family: Arial;
  font-size: 20px;
  line-height: 60px;
}
div.sign span b { font-size: 24px; }
div.proposal-bottom {
  background: transparent url(/images/proposal-bottom-frame.png) 0 0 no-repeat;
  height: 12px;
  margin-bottom: 25px;
  width: 617px;
}
div.page-sidebar {
  margin-right: 10px;
  width: 295px;
  float: right;
  margin-top: 9px;
  min-height: 800px;
  background: url(../images/line_gradient.png) no-repeat left;
}
div.page-sidebar dl.reasons {
  padding: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-left: 1px;
}
div.page-sidebar dl.reasons dt {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 6px;
}
div.page-sidebar dl.reasons dd {
  display: block;
  clear: both;
  margin-bottom: 10px;
}
div.page-sidebar dl.reasons dd img {
  float: left;
  margin-left: -5px;
  margin-top: 6px;
}
div.page-sidebar dl.reasons dd span {
  float: left;
  width: 170px;
  display: block;
  margin-left: 15px;
  line-height: 20px;
}
div.page-sidebar dl.reasons dd hr {
  color: transparent;
  visibility: hidden;
  clear: both;
}
div.page-sidebar div.share {
  background-color: #ddeef6;
  padding: 12px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border: 1px solid #c2d1d9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
div.page-sidebar div.share p {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}
div.page-sidebar div.share div.share-buttons-left {
  margin-top: 15px;
  margin-left: 5px;
  width: 118px;
  float: left;
}
div.page-sidebar div.share div.share-buttons-left img {
  display: block;
  margin-bottom: 10px;
}
div.page-sidebar div.share .fb_like {
  float: right;
  margin-top: 17px;
  margin-right: 25px;
}
div.page-sidebar .signature_box {
  position: absolute;
  width: 290px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
div.page-sidebar .signature_box .signatures_counter {
  background: url(../images/bg_firmas.png) no-repeat -6px -6px;
  width: 290px;
  height: 85px;
  padding-top: 25px;
  text-align: center;
}
div.page-sidebar .signature_box .signatures_counter h4 {
  text-shadow: 1px 1px #ffffff;
  padding-bottom: 0px;
  color: #333333;
  font-size: 29px;
  margin-bottom: 0px;
}
div.page-sidebar .signature_box .signatures_counter h4 strong { font-weight: bold; }
div.page-sidebar .signature_box .signatures_counter h4 span {
  text-shadow: 1px 1px #ffffff;
  padding-bottom: 5px;
  margin-top: 3px;
  color: #333333;
  font-size: 13px;
  display: block;
}
div.page-sidebar .signature_box .signatures_counter .graph {
  background: url(../images/bg_bar_firmas.png) no-repeat;
  width: 252px;
  height: 24px;
  margin: 0 auto;
  position: relative;
}
div.page-sidebar .signature_box .signatures_counter .graph .num {
  background: url(../images/bg_num_firmas.png) repeat-x;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  width: 82px;
  height: 23px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}
div.page-sidebar .signature_box .signatures_counter .graph .total {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #ffffff;
  text-shadow: 1px 1px #a9b291;
  z-index: 1;
}
div.page-sidebar .signature_box .form_container {
  margin-bottom: 5px;
  background: #fdfdfd;
  border: 1px solid #c8d7dd;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
div.page-sidebar .signature_box .form_container .separator { margin-bottom: 20px !important; }
div.page-sidebar .signature_box .form_container .form { padding: 15px; }
div.page-sidebar .signature_box .form_container label {
  display: block;
  margin-bottom: 6px;
  color: #333333;
  padding-left: 3px;
  font-size: 14px;
}
div.page-sidebar .signature_box .form_container label strong {
  font-weight: bold;
  border-bottom: 1px dotted #cccccc;
  display: block;
  padding-bottom: 3px;
  margin-bottom: 10px;
}
div.page-sidebar .signature_box .form_container .input {
  padding: 3px;
  background: #eff2f2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 8px;
  width: 248px;
  height: 35px;
}
div.page-sidebar .signature_box .form_container .input input[type=text] {
  background: fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d2d9dc;
  padding: 8px;
  width: 230px;
  font-size: 14px;
  color: #666666;
}
div.page-sidebar .signature_box .form_container .tos {
  color: #666666;
  font-size: 11px;
}
div.page-sidebar .signature_box .form_container .tos a { color: #35669f; }
div.page-sidebar .signature_box .form_container .btn_sign {
  text-align: center;
  background: #eef5e9;
  padding: 15px;
  border: 1px solid #ffffff;
  border-top: 1px solid #c8d7dd;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
div.page-sidebar .signature_box .form_container .btn_sign a {
  background: url(../images/btn_firmar.png) 0 0 no-repeat;
  display: block;
  background-position: 0 0;
  width: 195px;
  height: 45px;
  text-indent: -9999px;
  margin: 0 auto;
}
div.page-sidebar .signature_box .form_container .btn_sign a:hover { background-position: 0 -50px; }
div.page-sidebar .signature_box .form_container .sign_error {
  background: none repeat scroll 0 0 #fff9d7;
  border: 1px solid #e2c822;
  color: #5c5c5c;
  float: left;
  line-height: 160%;
  margin-bottom: 15px;
  padding: 15px 20px;
  width: 246px;
}
div.page-sidebar .signature_box .form_container .sign_error strong {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}
div.page-sidebar .signature_box .tradicional {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #f6f6f6;
  margin: 10px;
  padding: 10px;
}
div.page-sidebar .signature_box .tradicional p {
  line-height: 140%;
  color: #666666;
}
div.page-sidebar .signature_box .tradicional p a { color: #35669f; }
div.page-sidebar .home {
  position: static !important;
  margin-top: 40px;
}
.sec_sidebar {
  width: 265px !important;
  margin-right: 45px !important;
}
div.footer-wr {
  height: 110px;
  background-color: #f2f2f2;
  border-top: 1px solid #d8d8d8;
  padding-top: 30px;
  padding-left: 20px;
}
div.footer {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
div.footer div.footer-nav {
  float: left;
  width: 660px;
  text-align: left;
}
div.footer div.footer-nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
div.footer div.footer-nav a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
div.footer div.footer-nav ul {
  font-size: 11px;
  margin-bottom: 15px;
}
div.footer div.footer-nav ul li { display: inline; }
div.footer div.footer-nav ul li span.li-sep {
  margin: 0 1px;
  padding-right: 2px;
}
div.footer div.footer-nav p {
  font-size: 11px;
  margin-bottom: 15px;
}
div.footer div.footer-signatures {
  float: left;
  margin-left: 30px;
}
div.footer div.footer-signatures img {
  float: left;
  margin-right: 15px;
}
div.footer div.footer-signatures span {
  float: left;
  display: block;
  width: 150px;
  line-height: 20px;
}
div.footer div.footer-signatures span b {
  font-size: 20px;
  font-family: Arial;
  line-height: 30px;
}
div.footer .tractis {
  float: right;
  margin-right: 20px;
}
