<table>
	<tr>
		<th>Iniciativa</th>
		<th>Firmas</th>
		<th>Fedatarios</th>
	</tr>
  <% @user.proposals.each do |proposal| %>
  <tr>
		<td><%= link_to proposal.name, edit_proposal_path(proposal.id) %></td>
		<td><%= proposal.num_signatures_signed %></td>
		<td><%= proposal.num_attestors %></td>
  </tr>
  <% end %>
</table>