<!-- Comienza formulario Acumbamail -->

<form action="http://acumbamail.com/signup/10403/" method="post" class="email_subscription">
   <div class="title_email_subscription">¿Quieres recibir información sobre nuevas iniciativas y novedades?</div>
   <div class="yourFormStyle">
      <div> <label for="email_1">Email* </label><br /><input type="text" style="width:100%" name="email_1"><br />
      </div>
   </div>
   <input type="hidden" name="ok_redirect" value="/*Puedes insertar aquí la url a la que quieres redirigir tras un registro válido */">
   <input type="submit" style="display:block; margin-left: auto;margin-right: auto; padding: 5px; margin-top:5px" value="Suscribirme a la lista" class="yourButtonStyle">
</form>
<!-- Fin formulario Acumbamail -->