<div class="footer-wr">

  <div class="footer">
    <div class="footer-nav">
      <%= render :partial => 'shared/menu' %>

      <p>S.L Todos los derechos reservados 2123 </p>

    </div>

 

  </div>

</div>
