<div class="footer-wr">

  <div class="footer">
    <div class="footer-nav">
      <%= render :partial => 'shared/menu' %>

      <p>S.L Todos los derechos reservados 2123 </p>

    </div>

    <!-- <div class="footer-signatures">

      <img src="/images/ico-write.png" alt="" />
      <span><b>1,410,077,669</b> <br /> firmas conseguidas</span>
    </div> -->

  </div>

</div>
