<dl class="reasons">
<dt>¿Cómo funciona?</dt>

<dd>
<img src="/images/ico-write.png" alt="" />
<span>Posibilitamos la recogida de firmas. Cualquier ciudadano puede firmar online nuestras iniciativas legislativas populares (ILP).</span>
<hr />
</dd>

<dd>
<img src="/images/ico-card.png" alt="" />
<span>Cuando alcanzamos el número de firmas necesario, seguimos los trámites legales para que la iniciativa se debata en el Congreso.</span>
<hr />
</dd>

<dd>
<img src="/images/ico-chat.png" alt="" />
<span>Súmate a Mifirma.com y difunde estas iniciativas entre tus amigos, a través de las redes sociales.</span>
<hr />
</dd>

</dl>