<dl class="reasons">
<dt>¿Cómo funciona?</dt>

<dd>
<img src="/images/ico-chat.png" alt="" />
<span>Creamos Iniciativas Legislativas Populares siguiendo el procedimiento legal para llegar al Parlamento.</span>
<hr />
</dd>

<dd>
<img src="/images/ico-card.png" alt="" />
<span>Cualquier ciudadano las puede firmar on-line con su DNIe, y después recomendar a sus amigos en redes sociales.</span>
<hr />
</dd>

<dd>
<img src="/images/ico-write.png" alt="" />
<span>Al llegar al nº necesario de firmas, la propuesta legislativa se discute obligatoriamente en el Parlamento</span>

<hr />
</dd>

</dl>
