<dl class="reasons">
<dt>¿Cómo funciona?</dt>

<dd>
<img src="/images/ico-chat.png" alt="" />
<span>Creamos acciones (ILP's y firma de avales para partidos políticos) siguiendo el procedimiento legal para ser aprobados.</span>
<hr />
</dd>

<dd>
<img src="/images/ico-card.png" alt="" />
<span>Cualquier ciudadano las puede firmar on-line con su DNIe, y después recomendar a sus amigos en redes sociales.</span>
<hr />
</dd>

<dd>
<img src="/images/ico-write.png" alt="" />
<span>Al llegar al nº necesario de firmas y haber seguido el trámite legal las acciones producen cambio social.</span>

<hr />
</dd>

</dl>