<dl class="reasons">
<dt>¿Cómo funciona?</dt>

<dd>
<img src="/images/ico-write.png" alt="" />
<span>Posibilitamos la recogida de firmas. Cualquier ciudadano puede firmar online nuestras iniciativas.</span>
<hr />
</dd>

<dd>
<img src="/images/ico-card.png" alt="" />
<span>Ofrecemos nuestro servicio para Iniciativas Legislativas Populares (ILP) estatáles o autonómicas. También recogemos avales para la formación de nuevos partidos.</span>
<hr />
</dd>

<dd>
<img src="/images/ico-chat.png" alt="" />
<span>Súmate a Mifirma.com y difunde estas iniciativas entre tus amigos, a través de las redes sociales.</span>
<hr />
</dd>
<a href='http://play.google.com/store/apps/details?id=com.mifirma.android&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Disponible en Google Play' width="230px" src='https://play.google.com/intl/en_us/badges/images/generic/es_badge_web_generic.png'/></a>
</dl>