 <ul class="nav">
  
    <li><%= link_to "Propuestas", proposals_path %></li>
    <li><span class="li-sep">|</span><a href="#">¿Cómo funciona?</a></li>
    <li><span class="li-sep">|</span><%= link_to "Sobre nosotros", '/sobre_nosotros' %></li>
  </ul>
  