<ul class="nav">
  <li><%= link_to "Propuestas", "/" %></li>
  <li><span class="li-sep">|</span><%= link_to "Ayuda", 'http://blog.mifirma.com/faq' %></li>
  <li><span class="li-sep">|</span><%= link_to "Sobre nosotros", '/sobre_nosotros' %></li>
  <li><span class="li-sep">|</span><%= link_to "Blog", 'http://blog.mifirma.com/' %></li>
	<li class="comisiones_promotoras"><span>Comisiones Promotoras</span>
  	<ul>
  		<li><span class="li-sep">|</span><a href="/signin">usuario registrado</a></li>
    	<li><a href="/signup">registrarse</a></li>
  	</ul>
  </li>
</ul>
