 <ul class="nav">
  
    <li><%= link_to "Propuestas", "/" %></li>
    <li><span class="li-sep">|</span><%= link_to "¿Cómo funciona?", '/como_funciona' %></li>
    <li><span class="li-sep">|</span><%= link_to "Sobre nosotros", '/sobre_nosotros' %></li>
  </ul>
  