<dl class="reasons">
<dt>¿Por qué firmar?</dt>

<dd>
<img src="/images/ico-chat.png" alt="" />
<span>Las redes sociales lo hacen posible dolor sit amet, consectetur adipiscing elit.</span>
<hr />
</dd>

<dd>
<img src="/images/ico-card.png" alt="" />
<span>DNI Electrónico dolor sit amet, consectetur adipiscing elit. Etiam sodales nisl quis.</span>
<hr />
</dd>

<dd>
<img src="/images/ico-write.png" alt="" />
<span>500.000 firmas consectetur adipiscing elit. Etiam sodales nisl quis magna</span>

<hr />
</dd>

</dl>