<div class="share">
  <p>Juntos podemos llegar a más gente <br />
    si <b>compartes esta propuesta</b></p>

    <div class="share-buttons-left">
      <a href="/twitter"><img src="/images/twitter-btn.png" alt="" /></a>

      <a href="/meneame"><img src="/images/meneame-btn.png" alt="" /></a>
      
    </div>
    
    <iframe src="http://www.facebook.com/plugins/like.php?href=www.mifrima.com&amp;layout=box_count&amp;show_faces=true&amp;width=60&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:60px; height:65px;" allowTransparency="true" class="fb_like"></iframe>
  </div>