<div class="share">
<p>Juntos podemos llegar a más gente <br />
si <b>compartes esta propuesta</b></p>

<div class="share-buttons-left">
<a href="/twitter"><img src="/images/twitter-btn.png" alt="" /></a>

<a href="/meneame"><img src="/images/meneame-btn.png" alt="" /></a>
</div>

<div class="clear"></div>
</div>