<div class="proposal-wr">
  <div class="proposal">
    <h1> 
      <%= link_to proposal.name, proposal_path(proposal) %>
      <span>Acción promovida por: <a href="#">Superestar energies</a></span>
    </h1>
    
    <div class="proposal_content">
      <p><%= proposal.howto_solve %></p>
    </div>

    <div class="fb-like">
      <h3>¿Estás a favor?</h3>
      <h5>Muestra tu apoyo clicando en “Me gusta”</h5>  
      <iframe src="http://www.facebook.com/plugins/like.php?href=<%= proposal_url(proposal) %>&amp;layout=standard&amp;locale=es_ES&amp;show_faces=true&amp;width=450&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px; margin-top:15px;" allowTransparency="true"></iframe>
      
      <h6>Comparte esta propuesta</h6>
      
      <ul class="share">
        <li><a href="#"><img src="/images/share/ico_fb.png" width="86" height="21" alt="Ico Fb"></a></li>
        <li><a href="#"><img src="/images/share/ico_meneame.png" width="86" height="21" alt="Ico Fb"></a></li>
        <li><a href="#"><img src="/images/share/ico_twitter.png" width="86" height="21" alt="Ico Fb"></a></li>
      </ul>
      
      <h6>Url de la propuesta</h6>
      
      <input type="text" name="email" value="<%= proposal_url(proposal) %>" id="email">
      
    </div>
    
    <span class="shadow"></span>
    
  </div>

</div>










