<h4><strong><%= proposal.signatures.size %></strong> firmas</h4>
<div class="form">
  <% form_for proposal.signatures.new do |f| %>
  <label for="email">Introduce tu <strong>email</strong> para firmar</label>
  <% default_email_input_value = "tu email" %>
  <%= f.hidden_field :proposal_id %>
  <%= f.text_field :email, :value => default_email_input_value,
                             :onfocus => "if ($(this).val() == '#{default_email_input_value}') { $(this).val('') }",
                             :onblur =>  "if ($(this).val() == '') { $(this).val('#{default_email_input_value}') }" %>
  <!-- <div class="tos">
    <input type="checkbox" name="agree" value="yes" />
    Acepto los <a href="#">términos y condiciones</a>
  </div> -->
  <a href="#" class="btn_sign" onclick="$('#new_signature').submit(); return false;">Firma electónica</a>
  <% end %>
  <p>Si no dispones de <strong>DNI electrónico</strong> puedes mostrar tu apoyo con una <a href="#" onclick="alert('Próximamente en MiFirma'); return false;">firma tradicional</a></p>
</div>
