<% content_for :bodyclass do %>proposal<% end %> 
<% content_for :title, @proposal.name%>

<div class="page">
  <div class="page-content">
	<p>Prueba</p>
 
  </div>

 

</div>

<div class="clear">&nbsp;</div>
</div>