<div class="page">

  <div class="page-content">
    <h4>Propuestas disponibles</h4>

    <%= render @proposals %>

  </div>

  <div class="page-sidebar">
    <%#= render :partial => 'shared/reasons' %>
    <div class="signature_box home">
      <%= render :partial => 'signature_box', :locals => {:proposal => @proposals.first} %>
    </div>
  </div>

  <div class="clear">&nbsp;</div>
</div>

