<% content_for(:bodyclass) {"home"} -%> 
<div class="page">
  <div class="page-content"><%=render :partial => 'proposal', :collection => @proposals%></div>

  <div class="page-sidebar">
    <%#= render :partial => 'shared/reasons' %>
    <div class="signature_box">
      <%= render :partial => 'signature_box' %>
    </div>
  </div>

  <div class="clear">&nbsp;</div>
</div>
